@model MAGNA_CLIENT.Entities.Notice
@{
    ViewBag.Title = "Create";
    ViewData["Title"] = "Create New Notice";
    List<SelectListItem> priority = (List<SelectListItem>)ViewBag.noticePriority;
    List<SelectListItem> category = (List<SelectListItem>)ViewBag.noticeCategory;
    List<SelectListItem> employee = (List<SelectListItem>)ViewBag.employee;
    List<SelectListItem> assemble = (List<SelectListItem>)ViewBag.assemble;
    List<SelectListItem> state = (List<SelectListItem>)ViewBag.noticeState;
    List<SelectListItem> type = (List<SelectListItem>)ViewBag.noticeType;
    List<SelectListItem> location = (List<SelectListItem>)ViewBag.technicalLocation;
    Layout = "~/Views/Shared/_Layout.cshtml";   
}


<div class="container">
    <div class="row">
            <div class="col-sm-12">
                <h3>Update Notice</h3>
            </div>
            <!--breadcrumb-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href='/Home'>MAGNA</a></li>
                    <li class="breadcrumb-item"><a href='/Notice'>Notice</a></li>
                    <li class="breadcrumb-item active" aria-current="page">/ Update</li>
                </ol>
            </nav>
    </div>
</div>

   
<div class="container-xl px-4 mt-4">
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Notice Details</div>
                <div class="card-body">
                    <form asp-action="Update" asp-controller="Notice" method="post">
                        <h4>Notice</h4>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (username)-->
                            <div class="col-md-6">
                                <label asp-for="NoticeDate" class="control-label">Notice Date</label>
                                <input type = "date" asp-for="NoticeDate" class="form-control" placeholder="Enter description" />
                                <span asp-validation-for="NoticeDate" class="text-danger"></span>
                            </div>
                             <!-- Form Group (Type)-->
                            <div class="col-md-6">
                                <label asp-for="NoticeCode" class="control-label">Code</label>
                                <input asp-for="NoticeCode" class="form-control" />
                                <span asp-validation-for="NoticeCode" class="text-danger"></span>
                            </div>
                            <!-- Form Group (Description)-->
                            <div class="col-md-6">
                                <label asp-for="NoticeDescription" class="control-label">Description</label>
                                <input asp-for="NoticeDescription" class="form-control" />
                                <span asp-validation-for="NoticeDescription" class="text-danger"></span>
                            </div>
                            <!-- Form Group (Type)-->
                            <div class="col-md-6">
                               <label asp-for="NoticePriorityId" class="control-label">Execution Priority</label> 
                               @Html.DropDownListFor(m => m.NoticePriorityId, priority, new { @class = "form-control" })
                               <asp:ListItem Enabled="true" Selected="True" Text="Please select city"></asp:ListItem>
                               <span asp-validation-for="NoticePriorityId" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                             <!-- Form Group (Code)-->
                            <div class="col-md-6">
                                <label asp-for="EmployeeId" class="control-label">Employee</label>
                                @Html.DropDownListFor(m => m.EmployeeId, employee, new { @class = "form-control" })
                                <span asp-validation-for="EmployeeId" class="text-danger"></span>
                            </div>
                            <!-- Form Group (Code)-->
                            <div class="col-md-6">
                                <label asp-for="NoticeStateId" class="control-label">Notice State</label>
                                @Html.DropDownListFor(m => m.NoticeStateId, state, new { @class = "form-control" })
                                <span asp-validation-for="NoticeStateId" class="text-danger"></span>
                            </div>
                             <!-- Form Group (Code)-->
                            <div class="col-md-6">
                                <label asp-for="NoticeCategoryId" class="control-label">Category</label>
                                @Html.DropDownListFor(m => m.NoticeCategoryId, category, new { @class = "form-control" })
                                <span asp-validation-for="NoticeCategoryId" class="text-danger"></span>
                            </div>
                            <!-- Form Group (Code)-->
                            <div class="col-md-6">
                                <label asp-for="NoticeTypeId" class="control-label">Notice Type</label>
                                @Html.DropDownListFor(m => m.NoticeTypeId, type, new { @class = "form-control" })
                                <span asp-validation-for="NoticeTypeId" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (Code)-->
                            <div class="col-md-6">
                                <label asp-for="AssembleId" class="control-label">Broken Assemble</label>
                                @Html.DropDownListFor(m => m.AssembleId, assemble, new { @class = "form-control" })
                                <span asp-validation-for="AssembleId" class="text-danger"></span>
                            </div>
                            <!-- Form Group (Code)-->
                            <div class="col-md-6">
                                <label asp-for="TechnicalLocationId" class="control-label">Technical Location</label>
                                @Html.DropDownListFor(m => m.TechnicalLocationId,location, new { @class = "form-control" })
                                <span asp-validation-for="TechnicalLocationId" class="text-danger"></span>
                            </div>
                            <!-- Form Group (Code)-->
                            <div class="col-md-6">
                                <label asp-for="FaultType" class="control-label">Fault Type</label>
                                <input asp-for="FaultType" class="form-control" placeholder="Fault Type" />
                                <span asp-validation-for="FaultType" class="text-danger"></span>
                            </div>
                            <!-- Form Group-->
                            <div class="col-md-6">
                                 <label asp-for="AffectedPart" class="control-label">Affected Part</label>
                                 <input asp-for="AffectedPart" class="form-control" placeholder="Fault Type" />
                                 <span asp-validation-for="AffectedPart" class="text-danger"></span>
                            </div>
                        </div>
                         <!-- Form Row -->
                        <div class="row gx-3 mb-3">
                           <div class="col-md-12">
                                 <label asp-for="FaultDescription" class="control-label">Fault Description</label>
                                 <textarea asp-for="FaultDescription" class="form-control" placeholder="Enter Fualt Description"></textarea>
                                 <span asp-validation-for="FaultDescription" class="text-danger"></span>
                           </div>
                        </div>
                        <!-- Save changes button-->
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <input type="submit" value="Update Notice" class="btn btn-outline-warning btn-lg" /> 
                            <input type="button" value="Return Page" class="btn btn-outline-secondary btn-lg" onClick="history.go(-1);"> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    @{<partial name="_ValidationScriptspartial"/> }
}
